html {
    font-size: 62.5%;
}
body {
    background-color: bisque;
}
h1, h2 {
    color: antiquewhite;
}
.counter-card {
    width: 60%;
    margin: 20% auto;
    background-color: rgb(69, 34, 102);
}
.count {
    width: 100%;
    text-align: center;
    font-size: 4rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: 0 auto;
    padding: 1.2rem;
    /* background-color: hsl(55, 67%, 70%); */
}
.btn {
    /* background-color: antiquewhite; */
    font-size: 2rem;
    border: none;
    
}