* {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
} 
html {
    font-size: 62.5%;
}
.score-board {
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding: 2rem;
}
