* {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
} 

html {
    font-size: 62.5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.score-board {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 15vh;
    padding: 2rem;
}
.board {
    font-size: 2.4rem;
    display: flex;
    gap: 2rem;
}
.number-board {
    border: 2px solid #ffebcd;
    background-color: #ffebcd;
    width: 8rem;
    height: 50px;
}
.game-card {
    display: flex;
    text-align: center;
    height: 85vh;
}
.title {
    font-size: 8rem;
}
.title-text {
    font-size: 3rem;
    margin-bottom: 20px;
}
.guessing-div {
    margin: 0 auto;
    display: inline-flex;
    gap: 16px;
}
.guess {
    width: 8rem;
    height: 4rem;
}
.feedback-div {
    margin-top: 40px;
    font-size: 3rem;
    height: 120px;
}

.btn {
    width: 8rem;
    height: 4rem;
    background-color: #f610d2;
    border: none;
    border-radius: 6px;
    box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-in-out; 
}
.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.25);
}
.btn:active {
    transform: scale(0.95);
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.25);
}
